{% extends 'account/base.html' %}

{% block content %}
<div class="text-center">
    <h3>Welcome to {{user.username}}'s gallery</h3>

    <a href="{% url 'create_playlist' %}" class="btn btn-primary">Create Playlist</a>
</div>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-hover text-center">
                <thead>
                  <tr>
                    <th scope="col">playlist</th>
                    <th scope="col">playlist name</th>
                    <th scope="col">number of Video's</th>
                    <th scope="col">check playlist</th>
                    <th scope="col">delete playlist</th>
                  </tr>
                </thead>
                <tbody>

                    {% for playlist in playlists %}
                  <tr>
                    <th scope="row">{{playlist.id}}</th>
                    <td>{{playlist.title}}<span class="ml-2"><a href="{% url 'update' playlist.id %}"><i class="fas fa-edit"></i></a></span></td>
                    <td>{{playlist.video_count}}<span class="ml-2"><a href="{% url 'add_video' playlist.id %}"><i class="fas fa-plus"></i></a></span></td>
                    <td>
                      
                      <a href="{% url 'detail' playlist.id %}" class="btn btn-success">check detail</a>
                    
                    </td>
                    <td>
                      
                      <a href="{% url 'delete' playlist.id %}" class="btn btn-danger">delete playlist</a>
                    
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
</div>

{% endblock %}